dist: focal
language: python
matrix:
  include:
  - python: 2.7
    env: TOXENV=py27-core
  - python: 3.7
    env: TOXENV=py37-core
  - python: 3.8
    env: TOXENV=py38-core
  - python: 3.9
    env: TOXENV=py39-core
  - python: 3.10
    env: TOXENV=py310-core
  - python: 3.11
    env: TOXENV=py311-core
  - python: 2.7
    env: TOXENV=py27-django111
  - python: 3.7
    env: TOXENV=py37-django22
  - python: 3.9
    env: TOXENV=py39-django32
  - python: 3.10
    env: TOXENV=py310-django40
  - python: 3.10
    env: TOXENV=py310-django41
  - python: 3.11
    env: TOXENV=py311-django41
install:
- pip install tox pytest  # Install pytest alongside tox

before_script: >
  export CLOUDINARY_URL=$(bash tools/get_test_cloud.sh);
  echo cloud_name: "$(echo $CLOUDINARY_URL | cut -d'@' -f2)"
script:
- export PYTHONPATH="${PYTHONPATH}:$(pwd)"
- tox -e $TOXENV

notifications:
  email:
    recipients:
      - sdk_developers@cloudinary.com